/*注释要求
 
 * 请标明哪个页面哪个标签的样式
  */
/*setHeader 设置操作的公共样式
 queryHeader 查询操作公共样式
 
 
  */


/* 设置操作的公共样式 */
    .setHeader{
      color:#55a;
      margin:30px;
  }

/* 查询操作公共样式 */
/* 头部 */
  .queryHeader{
    color:#55a;
    margin:10px 30px;
  }
  /* 查询条件的公共样式 */
         /* 高度在页面里定  */
      .querycriteria{
          background: #fff;
          margin-bottom: 10px;
      }
      .querycriteriadiv{
          padding: 10px 0 0 20px ;
      }
      .queryForm{
          margin-top: 20px;
      }
  /* 查询条件的公共样式 end */
  /* 查询结果样式 */
  .queryEnd{
    color:#55a;
    margin:10px 30px;
  }
  .tableTop{
    margin-top: 10px;
  }
  .tableTops{
    margin: 0 5px 0 5px;
  }
  /* 分页 */
  .page{
    float: right;
    margin-right: 40px;
    margin-top: 10px;
  }