/*注释要求
 
 * 请标明哪个页面哪个标签的样式
  */
/*setHeader 设置操作的公共样式
 queryHeader 查询操作公共样式
 
 
  */
 

/* 设置操作的公共样式 */
    .setHeader{
      color:#55a;
      margin:30px;
  }

/* 查询操作公共样式 */
/* 头部 */  
  .queryHeader{
    font-size: 22px;
    color:#111;
    margin:10px 30px;
  }
  /* 查询条件的公共样式 */
         /* 高度在页面里定  */
      .querycriteria{
          background: #fff;
          margin-bottom: 10px ;
      }
      .queryquery{
        margin-left:40px;
        display: inline-block;
      }
      .queryquerytop{
        margin-top: 15px;
      }
  /* 查询条件的公共样式 end */
  /* 查询结果样式 */
  .queryEnd{
    background: #fff;
    color:#111;
    margin:15px 30px;
  }
  .tableTop{
    margin: 10px 0;
  }
  .tableTops{
    margin: 0 5px 0 5px;
  }
  /* 分页 */
  .page{
    float: right;
    margin-right: 40px;
    margin-top: 10px;
  }
  #Modal_header{
    text-align:left;
    line-height: 1;
    color:#eee;
  }
  #Modal_close{
    margin-right:10px;
    line-height: 3;
  }
  