/*注释要求
 
 * 请标明哪个页面哪个标签的样式
  */
/*setHeader 设置操作的公共样式
 queryHeader 查询操作公共样式
 
 
  */


/* 设置操作的公共样式 */
    .setHeader{
      color:#55a;
      margin:30px;
  }

/* 查询操作公共样式 */
  .queryHeader{
    color:#55a;
    margin:10px 30px;
  }