/*注释要求
 * 哪个页面的样式
 * 哪个组件的样式
 * */



 /* 修改iview弹框的样式 */
    /* iview弹框头部与底部样式 */
    .ivu-modal-header-inner{
        color: #eee;
    }
    .ivu-icon-ios-close{
        color: #eee!important;
        
    }
    .ivu-modal-header {
        background: #515a6e;
        border-radius: 5px 5px 0  0; 
        height: 40px;
    }
    .ivu-modal-close {
        top: 4px;
    }
    .ivu-modal-footer {
        background: rgb(246, 235, 235);
        border-radius:0 0 5px 5px ; 
    }
    .ivu-btn-text {
        color: #515a6e;
        background-color: #fff;
        border-color: #fff;
    }
    .footer_left>div{
        float: left;
        margin-top: -3px;
    }
    .footer_left,.footer_left2{
        margin-left: 50px;
    }
    .footer_left2>div,.footer_left1>div{
        margin: 2px;
    }
    .footer_left1 span,.footer_left2 span{
        float: left;
    }
 /* 修改iview弹框的样式 end */
/* iview  系统表格表头的样式 */
	.ivu-table-header th{
        color:#fff;
        font-weight: 100;  
        background: #6782A9;
        height: 40px;
	}

